[submodule "Sources/libfragmentzip"]
	path = Sources/libfragmentzip/libfragmentzip-source
	url = https://github.com/SideStore/libfragmentzip.git
[submodule "Dependencies/em_proxy"]
	path = Dependencies/em_proxy
	url = https://github.com/SideStore/em_proxy.git
[submodule "Dependencies/minimuxer"]
	path = Dependencies/minimuxer
	url = https://github.com/SideStore/minimuxer.git
