<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StringsTable</key>
	<string>Root</string>
	<key>ApplicationGroupContainerIdentifier</key>
	<string>group.$(APP_GROUP_IDENTIFIER)</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Anisette Server</string>
			<key>Key</key>
			<string>customAnisetteURL</string>
			<key>DefaultValue</key>
			<string>https://ani.sidestore.io</string>
			<key>Titles</key>
			<array>
				<string>SideStore</string>
				<string>SideStore (.zip)</string>
				<string>SideStore (.xyz)</string>
				<string>Macley (US)</string>
				<string>Jawshoeadan</string>
				<string>WesleyBryie</string>
				<string>Stossy11</string>
			</array>
			<key>Values</key>
			<array>
				<string>https://ani.sidestore.io</string>
				<string>https://ani.sidestore.zip</string>
				<string>https://ani.846969.xyz</string>
				<string>http://5.249.163.88:6969/</string>
				<string>https://anisette.jawshoeadan.me</string>
				<string>https://ani.wesbryie.com</string>
				<string>https://anisette.stossy11.com</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Danger Zone</string>
			<key>FooterText</key>
			<string>If you disable the toggle then app will use the server you input into the &quot;Anisette URL&quot; box rather than one selected from the above selector.</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Use preferred servers</string>
			<key>Key</key>
			<string>textServer</string>
			<key>DefaultValue</key>
			<true/>
			<key>FooterText</key>
			<string>chicken</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Anisette URL</string>
			<key>Key</key>
			<string>textInputAnisetteURL</string>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>AutocorrectionType</key>
			<string>No</string>
			<key>KeyboardType</key>
			<string>URL</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>SideJITServer</string>
			<key>FooterText</key>
			<string>If you disable the toggle then the app will not be able to access and use SideJITServer on iOS 17+. &quot;SideJITServer IP&quot; is not needed but is recommended for stability.</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Enable SideJIT Support</string>
			<key>Key</key>
			<string>sidejitenable</string>
			<key>DefaultValue</key>
			<false/>
			<key>FooterText</key>
			<string>chicken</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>SideJITServer IP</string>
			<key>Key</key>
			<string>textInputSideJITServerurl</string>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>AutocorrectionType</key>
			<string>No</string>
			<key>KeyboardType</key>
			<string>URL</string>
		</dict>
	</array>
</dict>
</plist>
