ALWAYS_EMBED_SWIFT_STANDARD_LIBRARIES=YES
ASSETCATALOG_COMPILER_APPICON_NAME=AppIcon
CLANG_ENABLE_MODULES=YES
CODE_SIGN_ENTITLEMENTS=Sources/SideStore/Resources/AltStore.entitlements
CODE_SIGN_IDENTITY=iPhone Developer
CODE_SIGN_STYLE=Automatic
DEVELOPMENT_TEAM=$(DEVELOPMENT_TEAM)
ENABLE_BITCODE=NO
INFOPLIST_FILE=Sources/SideStore/Resources/Info.plist
IPHONEOS_DEPLOYMENT_TARGET=14.0
PRODUCT_BUNDLE_IDENTIFIER=$(PRODUCT_BUNDLE_IDENTIFIER)
PRODUCT_NAME=$(TARGET_NAME)
PROVISIONING_PROFILE_SPECIFIER=
SUPPORTED_PLATFORMS=iphonesimulator iphoneos
SWIFT_VERSION=5.0
TARGETED_DEVICE_FAMILY=1,2

LD_RUNPATH_SEARCH_PATHS[config=Debug]=["$(inherited)", "@executable_path/Frameworks"]
LD_RUNPATH_SEARCH_PATHS[config=Release]=["$(inherited)", "@executable_path/Frameworks"]
LIBRARY_SEARCH_PATHS[config=Debug]=["$(inherited)", "$(PROJECT_DIR)/Dependencies/fragmentzip", "$(PROJECT_DIR)/Dependencies/libcurl"]
LIBRARY_SEARCH_PATHS[config=Release]=["$(inherited)", "$(PROJECT_DIR)/Dependencies/fragmentzip", "$(PROJECT_DIR)/Dependencies/libcurl"]
SWIFT_OPTIMIZATION_LEVEL[config=Debug]=-Onone